:root {
    --text: '';
}

html {
    background: #ddd;
}

img {
    max-height: 200px;
    max-width: 200px;
    border: 1px dashed #5d5d5d;
}

* {
    box-sizing: border-box;
}

.date-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.post__image {
    width: auto;
    padding: 10px 5px;
}

.handle__player__event {
    z-index: 1000;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    left: 0;
}

.date {
    font-family: 'Ubuntu', sans-serif;
    background: steelblue;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    width: 100%;
    height: 50px;
}

.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    padding: 3px 9px 9px;
    background-color: rgb(85, 85, 85);
    min-height: 120px;
}

.modal::before {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    content: var(--text);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    padding-bottom: 2px;
}

.show {
    display:flex;
}

.back {
    z-index: 100;
    height: 100vh;
}

