html {
    background: #ddd;
}

img {
    max-height: 100px;
    max-width: 200px;
    border: 1px dashed #5d5d5d;
}

* {
    box-sizing: border-box;
}

.date-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.date {
    margin-top: 10px;

    font-family: 'Ubuntu', sans-serif;
    background: steelblue;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    width: 100%;
    height: 50px;
}

.image-link {
    width: auto;
    margin: 12px 5px 0;
}

.modal {
    display: none;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    z-index: 1000;

    padding: 24px 9px 6px 6px;
    background-color: rgb(85, 85, 85);
}

.modal::before {
    content: attr(data-mediainfo);

    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #cccccc;
}

.modal-video {
    min-height: 59px;
    min-width: 52px;
    box-sizing: content-box;
}

.show {
    display:flex;
}
